<!-- _layouts/default.html -->
<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.scss' | relative_url }}">
</head>
<body>
<!-- _layouts/default.html -->
<header>
  <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Welcome to My GitHub Page">
    <main>
      Welcome to My GitHub Page
      {% include recent-posts.html %}
    </main>
</header>

  <div class="container">
    <aside>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </aside>

  </div>
</body>


<!-- _layouts/default.html -->
<nav>
  <ul>
    {% for item in site.navigation %}
      <li><a href="item1">item1</a></li>
    {% endfor %}
  </ul>
</nav>

<!-- _layouts/default.html -->
<footer>
  <ul>
    <li><a href="https://twitter.com/thesubbareddy">Twitter</a></li>
    <li><a href="https://linkedin.com/in/subbareddy-paturu">LinkedIn</a></li>
  </ul>
</footer>
</html>
